<html>
<head>
	<title>My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/hci-friends.css">

</head>


<body>

<a href="/"></a>
	{{#each friends}}
	<div class = "friend" id = "{{id}}">
		<img src="{{image}}" class = "img-responsive">
		
	  <a href="#">
		<h3 id="friendname">{{name}}</h3>
     	</a>
		<p>this is my friend i guess</p>
	</div>
	<hr>
 {{/each}}
</div>
	<script type="text/javascript" src = "js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src= "js/hci-friends.js"></script>
</body>
</html>